<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>News</h1>

    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>