<div id="wrapper">

  <%= render 'games/sidebar' %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Rules</h1>

      <!-- Might need to generate these dynamically in the future for different games-->
      <h3>How to kill your target</h3>
      <ul>
        <li>Prepare a post-it with your target’s full name as it appears on the portal</li>
        <li>Put the post-it against your target’s back, saying the phrase, “The Order sends its regards, *name*.“</li>
        <li>If you are not spooned (see "How to kill your assassin"), you have successfully killed your target</li>
        <li>Target surrenders kill code to assassin</li>
        <li>Assassin inputs kill code in portal</li>
        <li>Assassin receives next target (the assigned target of their target)</li>
      </ul>
      <h3>How to kill your assassin</h3>
      <ul>
        <li>Before your assassin kills you with the post-it, put a spoon on any part of your assassin’s body, saying the phrase, “You are not a true assassin, *name*.” (name must be exactly as it appears on the portal)</li>
        <li>Assassin surrenders kill code to target</li>
        <li>Target inputs kill code in portal</li>
        <li>Target continues with life</li>
        <li>Assassin of assassin gets the target of the assassin</li>
      </ul>
      <h3>How to invalidate kills</h3>
      <ul>
        <li>IN chairs will invalidate any kill that happens</li>
        <ul>
          <li>at official PBL events +30min, -30min (official = on the calendar)</li>
          <li>At IN-hosted events (may or may not be on the calendar)</li>
          <li>In a 10-foot radius around the PBL table</li>
        </ul>
        <li>If a PBL member witnesses the kill and he / she can:</li>
        <ul>
          <li>Reveals himself / herself to the target and the assassin, preventing the exchange of kill codes from taking place</li>
          <li>Message IN chairs with detailed description of circumstances leading to the kill, and IN chairs validate it with parties involved. Anonymity of witness can be preserved. This has to happen BEFORE the exchange of kill codes happen on the portal.</li>
        </ul>
      </ul>
      <h3>Sponsors</h3>
      <ul>
        <li>IN chairs, WD chairs, and dead people qualify as sponsors of the game</li>
        <li>Sponsors will complete dares, each with a different number of points associated with it</li>
        <li>Once sponsors collect enough points by doing dares, they can redeem gifts.</li>
        <li>All dares have to be recorded on the Facebook event page that [IN] will create</li>
        <li>Sponsors have to go to IN chairs to redeem their gifts, along with who they choose to gift their gift to.</li>
        <li>IN chairs will deliver gift during player’s tabling slot</li>
      </ul>
      <h3>Last man/woman standing wins</h3>


    </div>

    <%= render 'layouts/footer' %>

  </div>
</div>