<nav class="navbar navbar-full navbar-dark bg-inverse">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'PBL Assassins', root_path, class: 'navbar-brand' %>
    </div>
    <ul class='nav navbar-nav pull-xs-right'>
    </ul>
  </div>
</nav>